<html>
<title>Impressum</title>
<body>
<h1>Impressum</h1>
<br>
<p>
Alle Informationen und der gesamte Quellcode sind Eigentum der <b>Voice Soft</b>. Jeder Diebstahl wird zur Anzeige gebracht.
</p>

</body>
</html>
